
.HeaderBody {
    background-color:#ffffff;
    border-bottom: 2px solid #cccccc;
}

.HeaderNav {
    width: 960px;  
    margin: auto;
    margin-bottom: 0px;

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.sticky + .Main-content {
    padding-top: 102px;
}

.MyName {
    background-color:#4aaaa5;
    padding: 40px;
    color: #ffffff;
    font-family: 'Georgia', times, Times New Roman, serif;
    float: left;
    margin-bottom: 0px;
}

.TopNav {
    float: right;
    padding-top: 80px; 

}

.About {
    padding-right: 10px;
    border-right: 1px solid #dddddd;
}

.Portfolio {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #dddddd;
}

.Contact {
    padding-left: 10px;
}

.MainBody {

    color:#777777;
    background-image: url(../images/leaves/leaves.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.Main-content {   
    width: 960px;
    border: 3px solid #dddddd;        
    margin: auto;
    margin-bottom:80px;
    margin-top:40px;
    background-color: #ffffff;
}

h1, h2, h3 {
    color: #4aaaa5;
    font-family: 'Georgia', times, Times New Roman, serif;

}

.Header {
    padding-top:20px;
    padding-left: 40px;
    padding-right: 40px;
}

.Main-content-details {
    padding-left: 40px;
    padding-right: 40px;

}

.SubHead {
    border-bottom: 3px solid #cccccc;
    padding-bottom: 40px;
}

#bio-image {
    padding-right: 40px;
    padding-bottom: 20px;
    float:left;
}

.Main-Text {
    padding-bottom: 20px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

.form-control {
    width: 870px;
    padding: 5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

form .submit{
    background-color:#4aaaa5;
    color: #ffffff;
    font-size:12px;
    width: 100px;
    margin-top:10px;
}

form .submit:hover {
    outline: 1px solid gray;
    outline-offset: 1px;
}

.Portfolio-items {
    margin-top:20px;
    margin-bottom:20px;
    margin-right:40px;
    display: inline-block;
    position: relative;
    height: 200px;
}

.Portfolio-items:hover {
    border: 3px solid #4aaaa5;
}


.Portfolio-item-name {
    background-color:#4aaaa5; 
    background:rgba(74,170,165,0.5);
    color: #ffffff;
    width: 190px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    position: absolute;
    bottom: 25px;
}

#placeholder-images {
    height: 200px;
    width: 200px;
}

footer {
    background-color: #666666;
    padding-top: 60px; 
    border-top: 8px solid #4aaaa5;
    width: 100%

    
}  

